# Apple
.DS_Store

# Jupyter
.ipynb_checkpoints

# MIDI
*.mid

# Python virtual environment
env/

# midiLibrary project
midiLibrary/

# default files and directories
libraryOriginal/
libraryNew/
libraryDummy/